@import "../../../variables.module.css";
@import "../../../fonts/fonts.css";

    /*заголовки*/
    .title{
      margin: 0;
      text-align: start;
      font-family: "Poppins";
      font-weight: 500;
      font-style: normal;
      font-size: 18px;
      line-height: 27px;
      color:var(--btn-text-color);
    }

    /*инпут*/
    .input{
      display: block;
      margin: 24px 0px 14px 0px;
      min-width:302px;
      background-color: var(--input-backround-color);
      border: 1px solid var(--accent-color);
      border-radius: 8px;
      /* opacity:0.4; */
      padding:14px 18px;
      box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);
      color:var(--primary-text-color);
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      line-height: 21px;
      letter-spacing:  -2%;
    }
    
    .input::placeholder{
      /* font-family: "Poppins";
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      line-height: 21px;
      letter-spacing:  -2%;
      color:var(--btn-text-color); */
      }
    
      .comment {
        display: block;
        margin: 0px 0px 24px 0px;
        min-width:302px;
        height: 154px;
        resize: none;
        background-color: var(--input-backround-color);
        border: 1px solid var(--accent-color);
        border-radius: 8px;
        padding:14px 18px;
        box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 18px;
        letter-spacing: -0.28px;
        color:var(--primary-text-color);
      }
          
  
    .comment::placeholder {
      /* color: #0000; */
        /* font-family: "Poppins";
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: #161616;
        font-style: bold; */
        /* color:var(--placeholder-color); */
        }
   
        .lowInput::before {
          background-color: var(--low-priority-bg-color);
        
          border: 1px solid var(--low-priority-bg-color);
        }
        .lowInput:checked::after {
          background-color: var(--low-priority-bg-color);
        }
        
  
      /*кнопка*/
    .btn{
      display: block;
      padding: 0px;
      margin: 0px;
      min-width: 302px;
      height: 49px;
      background-color:  #BEDBB0;
      font-size: 14px; 
      border-radius: 8px;
      border: transparent;
      cursor: pointer;
      color: #161616;
      line-height: 21px;
    }
     .datepicker{
        background-color: var(--accent-color) ;
        border: transparent
     }
     .item_tittle{
      display: block;
      color:var(--index-label-color);
      margin: 0;
      text-align: left;
      font-size: 14px;
      font-family: "Poppins";
      font-weight: 400;
      font-style: normal;
      line-height: 21px;
      }

      .label_wrapper{
      margin-top: 14px;
      }
 