.s{
  width: 100%;
  
}
.addfilewrap{
  position: relative;
  margin: 0 auto 14px auto;
  justify-content: center;
  width:68px;
  height: 79px;

}
.inputFile{
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.filelabel{
  position: absolute;
  bottom: 0;
  right: 50%;;
  transform:translate(50% , 0);
  display: flex;
  background-color:var(--accent-color);
  width: 24px;
  height: 24px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.label{ 
position: relative;
display: block;
margin-bottom: 24px;

}
.input{
  display: block;
  box-sizing: border-box;
  min-width: 335px;
  padding:14px 18px;
  background-color: var(--input-backround-color);
  font: "Poppins";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  letter-spacing: -1%;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);
}
@media screen and(min-with:768px){
  .input{
    min-width:400px;
  }
}
  
.addphoto{

}
   .eyeicon{
    position: absolute;
    top: 50%;
  display: block;
    transform: translate(-50%, -50%);
    right: 0; 
    color: #ffffff;
    background-color:transparent;
    border: transparent;
    opacity: 0.4;
  }
  .mistake{
    position: absolute;
    display: flex;
    bottom:-100%;
    width: 100%;
    color:#e66666;
    font: "Poppins";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
   justify-content: center;
    align-items: center;
  }