@import "../../variables.module.css";
/* // import styled from 'styled-components';
// import Card from '@mui/material/Card';
// import CardContent from '@mui/material/CardContent';
// import Divider from '@mui/material/Divider';
// import CardActions from '@mui/material/CardActions'; */
li {
  list-style: none;
}

/* .card_wrapper {
  border-left: 4px solid rgba(143, 161, 208, 1);
  height: 154px;
  border-radius: 4px 0px 0px 4px;
} */

.wrapper {
  width: 334px;
  padding: 14px 20px 14px 24px;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 8px;
  border-left: 4px solid rgba(143, 161, 208, 1);
  background-color: var(--secondary-bg-color);
  box-sizing: border-box;
}

.title {
  color:var( --primary-text-color);
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: -0.28px;
  margin-top: 0;
  margin-bottom: 8px;
}

.wrapper_text {
  /* width: 290px; */
  /* height: 38px; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  margin-bottom: 14px;
}
.elips_text{
  font-size: 12px; 
  color: var( --index-label-color);
  font-family: Poppins;
  line-height: 16px;
  letter-spacing: -0.24px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.icon_info{
  stroke: var( --index-label-color);
}

.divider {
  /* border-width: 290px; */
  /* margin-left: 24px; */
  /* margin-right: 20px; */
  margin-top: 0px;
  margin-bottom: 14px;
  border-bottom: 1px solid var( --divider-color);
}

.card {
  display: flex;
  justify-content: space-between;
  /* gap: 14px; */
  /* padding-left: 24px; */
}

.card_priority {
  display: flex;
  gap: 14px;
}

.status,
.day {
  color: var(--primary-text-color);
  font-size: 10px;
  font-family: Poppins;
  letter-spacing: -0.2px;
  margin-top: 0;
  margin-bottom: 0;
}

.card_title {
  /* display: flex;
  flex-direction: column; */
  /* padding-left: 24px; */
}

.priority {
  color: var(--index-label-color);
  /* color: rgba(255, 255, 255, 0.50); */
  font-size: 8px;
  font-family: Poppins;
  letter-spacing: -0.16px;
  margin-right: 23px;
  margin-top: 0;
  margin-bottom: 0;
}

.delete_icon,
.edit_icon {
  /* stroke: rgba(255, 255, 255, 0.5); */
  /* stroke: var(--primary-bg-color); */
  /* color: blue; */
}

.icon_buttons {
  color: var(--index-label-color);
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0px;
  &:hover{
  color: var(--accent-color);
  }
}

.icon_buttons_bell{
  color: var(--accent-color);
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0px;
  filter: drop-shadow(0px 0px 6px var(--accent-bell-color));
}


.popoverItem {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: var(--index-label-color);
  font-size: 14px;
  font-family: Poppins;
  letter-spacing: -0.28px;
  cursor: pointer;
  &:hover{
    color: var(--accent-color);
   }
}

.popoverBtn{
  text-decoration: none;
  color: var(--index-label-color);
  border: none;
  background-color: inherit;
  padding: 0px;
  cursor: pointer;
}

.icon_list{
  display: flex;
  gap: 8px;
  /* position: relative;
  z-index: 0; */
}


.popover_list{
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  list-style: none;
  padding:18px;
  width:100px;
  /* border: 1px solid var(--accent-color); */
  box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);
  /* border-radius: 8px; */
  gap: 8px;
}

.popoverStatus{
  font-size: 14px;
  font-family: Poppins;
  letter-spacing: -0.28px;
}

.btn{
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  background-color: var(--accent-color);
  padding: 14px 88px 14px 89px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  color: var(--primary-text-color);
}