.wrap {
  box-sizing: border-box;
  margin: auto;
  background-color: #151515;
  width: 335px;
  height: 300px;
  border-radius: 8px;
  padding: 24px;
  text-align: left;
  }
  @media screen and (min-width:768px){
    .wrap{
      width: 424px;
      height: 332px;
      padding: 40px;
        } 
   }
.regtitle{
  display: inline-block;
  text-decoration: none;
      text-align: start;
      font: "Poppins";
     font-weight: 500;
      font-style: normal;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
      margin-right: 14px;
      opacity: 0.3;
    }
    .regtitleActive{
      display: inline-block;
      text-align: start;
      font: "Poppins";
     font-weight: 500;
      font-style: normal;
      font-size: 18px;
      line-height: 27px;
     color: #FFFFFF;
         opacity: 1;
    }
 
    .label{ 
      position: relative;
      display: block;
      margin-bottom: 14px;
  
    }
    .input{
      display: block;
      box-sizing: border-box;
    width: 100%;
      background-color:  #1F1F1F;
      opacity:0.4;
      border: 1px solid  #BEDBB0;
      color: #FFFFFF;
      border-radius: 8px;
      padding:14px 18px;
      box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);
    
    }
 
  .input::placeholder{
    font: "Poppins";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
  letter-spacing:  -2%;
    color:#FFFFFF
    }
    .input:focus{
      color:#fff;
      opacity: 1;
    }  
    .input:hover{
      color: #BEDBB0;
      opacity: 1;
    }
    .field{
        margin-bottom: 24px;
     }
     .titleFild{
      margin-bottom: 40px;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 100%;
    height: 49px;
    outline: none;
    color: #161616;
    border-radius: 8px;
    background:#BEDBB0;
    border: none;
  }
  .error{
    position: absolute;
    bottom:-15px;
    right: 0;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1%;
    opacity: 0.9;
    color:#e66666;;
  }
     
.eyeicon{
  position: absolute;
  top: 50%;
display: block;
  transform: translate(-50%, -50%);
  right: 0; 
  color: #ffffff;
  background-color:transparent;
  border: transparent;
  opacity: 0.4;
}
.mistake{

  position: absolute;
  bottom:-15px;
  right: 0;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1%;
  opacity: 0.9;
  color:#e66666;;
   
}
 