.btn{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    background-color: var(--accent-color);
/*     padding: 14px 88px 14px 89px; */
    padding-top:10px;
    padding-bottom: 11px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    color: var(--btn-text-color);
    font-family: inherit;
    cursor:pointer;
}

.btn:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 5px 15px var(--accent-color);
}

.btn:hover{
    border: 2px solid var(--accent-color);
    opacity: 0.5;
    
    
}

.btn:focus{
    border: 2px solid var(--accent-color);
    opacity: 0.5;
    
}


.btn:active:after {
    box-shadow: 0 0 0 0 var(--accent-color);
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.btn:active {
    top: 1px;
}
.invertBtn {
    composes:btn;
    background-color: var(--secondary-bg-color);
    color:var(--primary-text-color);
}
.wrapperIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-icon-bg); 
    color: var(--button-icon);
    padding: 7px;
    border-radius: 8px;
    margin:0;
}
.invertIcon {
    composes:wrapperIcon;
    background-color: var(--button-icon-bg-invert); 
    color: var(--button-icon-invert);
}
.title {
    line-height: 28px;
    font-weight: 500;
    font-size: 14px;
}