/*фон*/
.formbackround {
background-color: #151515 ;
width: 350px;
height: 433px;
border-radius: 8px;
padding: 24px ;
}
/*инпут*/
.input{
  margin: 24px 0px 24px 0px;
  width: 302px;
  background-color:  #1F1F1F;
  border: 1px solid  #BEDBB0;
  border-radius: 8px;
  padding:14px 18px;
  box-shadow: 
  #161616
  8;
}
.input::placeholder{
line-height: 21px;
letter-spacing: -2;
color:rgba(255, 255, 255, 0.5) ;

}
/*заголовки*/
.title{
  margin: 0;
  text-align: start;
     font-size: 18px;
     line-height: 27px;
    color: #FFFFFF;
}
/*иконки*/
.icontitle{
  color: #FFFFFF; 
margin: 0;
margin-bottom: 24px;
text-align: left;
font-size: 14px;
}
.icontainer{
  display: flex;
  margin-bottom: 24px;
}
/*картинки*/

/*кнопка*/

  /* Стилізувати квадратики для фонів */
  .backcontainer{
    display: flex;
  }
.background {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border: 1px solid #0077ff;
  }
  /* Сховати чекбокси */
input[type="radio"] {
    display: none;
  }
  
  /* Стилізувати кружечки для іконок */
  .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eee;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-right: 10px;
  }
  
  /* Стилізувати квадратики для фонів */
  .background {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border: 1px solid #0077ff;
  }
  
  /* Стилізувати вибрані значки */
  input[type="radio"][name="icon"]:checked + .icon {
    background-color: #0077ff;
    color: #fff;
  }
  
  /* Стилізувати вибрані фони */
  input[type="radio"][name="background"]:checked + .background {
    border: 2px solid #0077ff;
  }
  