.containerColumn{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    max-height: 100%;
}
.wrapperTitleColumn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    margin-bottom: 14px;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    flex-shrink: 0;
    flex-grow: 1;
}
.titleColumn{
 color: var(--primary-text-color);
 font-size:14px;
 font-weight: 500;
}
.columnBottom {
    flex-shrink: 0;
    flex-grow: 1;
}
.columnMiddle{
    flex-shrink: 2;
    flex-grow: 0;
    overflow-y: auto;
    margin-bottom: 10px;
}
.listTask{
    display:flex;
    flex-direction: column;
    gap:8px;
    overflow-x: hidden;
    margin-bottom: 14px;
}
.columnMiddle::-webkit-scrollbar {
    width: 8px;
}
.columnMiddle::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color:var(--taskScrollBase);
}
.columnMiddle::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-clip: content-box;
    background-color:var(--taskScrollHandler);
}

.addCardButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-color);
    padding: 14px 88px 14px 88px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--primary-text-color);
}
.addCard{
    display: block;
    color: var(--btn-text-color);
}
.addCardButton:hover{
    background-color: #a4bb98;
}
.addCardButton:focus{
    background-color: #a4bb98;
}
.wrapperButton{
    display: flex;
}
.buttonColumn{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: var(--inner-icon-color);
    border: none;
    color: var(--primary-text-color);
    cursor: pointer;
}



.buttonColumn:not(:last-child){
    margin-right: 8px;
}

.editIcon:hover::after {
    display: block;
    content: "Edit";
    position: absolute;
    top: -100%;
    left: 70%;
    transform: translate(-50%);
    padding: 4px 8px;
    background-color: var(--without-priority-bg-color);
    color: #fff;
    font-size: 10px;
    border-radius: 4px;

}
.deleteIcon:hover::after {
    display: block;
    content: "Delete";
    position: absolute;
    top: -100%;
    left: 70%;
    transform: translate(-50%);
    padding: 4px 8px;
    background-color: var(--without-priority-bg-color);
    color: #fff;
    font-size: 10px;
    border-radius: 4px;

}


.deleteIcon:focus::after{
    display: block;
    content: "Delete";
    position: absolute;
    top: -100%;
    left: 70%;
    transform: translate(-50%);
    padding: 4px 8px;
    background-color: var(--without-priority-bg-color);
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
}
.editIcon:focus::after{
    display: block;
    content: "Delete";
    position: absolute;
    top: -100%;
    left: 70%;
    transform: translate(-50%);
    padding: 4px 8px;
    background-color: var(--without-priority-bg-color);
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
}
.wrapperIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-text-color); 
    padding: 7px;
    border-radius: 8px;
}
