.containerColumn{
    width: 350px;
}
.wrapperTitleColumn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px; 
    padding: 18px 20px;
    margin-bottom: 14px;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
}
.titleColumn{
 color: var(--primary-text-color);
}
.listTask{
    height: 478px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 14px;
    
}
.listTask::-webkit-scrollbar {
    width: 8px;
    
}
.listTask::-webkit-scrollbar-track {
    background-color: #313131;
    border-radius: 12px;
    
    
}
.listTask::-webkit-scrollbar-thumb {
    background-color: var(--secondary-bg-color);
    border-radius: 12px;
    
    background-clip: content-box;
}
.task{
    width: 334px;
    height: 154px;
    border-radius:8px;
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
}

.task:not(:last-child){
    margin-bottom: 8px;
}

.addCardButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-color);
    padding: 14px 88px 14px 89px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    width: 334px;
    color: var(--btn-text-color);
}

.addCardButton:hover{
    background-color: #a4bb98;
}
.addCardButton:focus{
    background-color: #a4bb98;
}
.wrapperButton{
    display: flex;
}
.buttonColumn{
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: aliceblue;
    border: none;
    color: var(--primary-text-color);
}

.buttonColumn:not(:last-child){
    margin-right: 8px;
}

.wrapperIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-text-color);
    padding: 7px;
    border-radius: 8px;

}