.container {
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 25%, #BEDBB0 92.19%), white;
    padding:20px;
    box-sizing: border-box;
}
.content {
    max-width:473px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}