@import "..//..//variables.module.css";
a{
    text-decoration:none;
}
.container {
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 25%, #BEDBB0 92.19%), white;
    padding:20px;
    box-sizing: border-box;
}
.content {
    max-width:473px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logowrap{
display: flex;
width: 100%;
gap: 14px;
justify-content: center;
margin-bottom: 24px;
}
.regbtn{
    width: 344px;
    /* width:335px; */
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    height: 49px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 14px;
}
.paragraph{
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    margin-bottom: 48px;
  text-align: center;
}
.regbtntext {    display: inline-block;
    text-align: start;
    font: "Poppins";
   font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
   color: #FFFFFF;

     }
     .logintext{
        display: inline-block;
        text-align: start;
        font: "Poppins";
       font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 27px;
        color:#161616
     }
.wecomeimage{
  margin-bottom: 24px;
 }
 .goggleimage{
border-radius: 8px;
   }
.gogglelogin{
    display: flex;
    gap: 8px;
}