.outer {
    display:flex;
    height:100%;
    width: 100%;
    position:relative;
    justify-content:space-between;
    flex-basis: 100px;
    background-color: var(--primary-bg-color);
    border:0;
}
.sidebar {
    max-width:260px;
    background-color: var(--navigation-bg-color);
    position:absolute;
    top:0;
    left:0;
    height:100%;
    transition: left 0.5s ease-in-out;
    z-index: 10;
    border:0;
}
.hidden {
    composes:sidebar;
    left:-300px;
}
@media screen and (min-width:1280px) {
    .sidebar {
        position:relative;
        left:0;
    }
    .backdrop {
        display:none;
    }
}
/* @media screen and (max-width:375px) {
    .sidebar {
        max-width:60%;
    }
} */
.backdrop {
    width:100%;
    height:100%;
    position:absolute;
    background-color: transparent;
    top:0;
    left:0;
}

.mainarea {
    display: flex;
    max-width:calc(100% - 260px);
    max-height: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}
.header {
    background-color: var(--header-bg-color);
    height:68px;
    border:0;
}
@media screen and (max-width:768px) {
    .header {
        height:60px;
    }
    
}