@import "../../variables.module.css";
@import "../../fonts/fonts.css";

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.modal_content {
  display: grid;
  position: absolute;
  background-color: var(--pop-up-bg-color);
  border-radius: 8px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  /* width: 350px; */
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: flex-start;
  display: inline-grid;
  justify-content: center;
  /* margin-top: 20px; */
}

@media screen and (max-width: 767px) {
  .modal_content {
    width: 335px;
          }               
  }

  @media screen and (min-width: 768px) {
    .modal_content {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
}
.modal_items{
  display: flex;
  justify-content: space-between;
}

.close_button{
  color: var(--index-label-color);
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  padding: 0;
  right: 14px;
  top: 14px;
  &:hover{
  color: var(--accent-color);
  }
}

.modal_title{
  margin-bottom: 24px;
  text-align: start;
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-text-color);
}