.headerTaskPro {
    display: flex;
    justify-content: right;
    height: 68px;
    align-items: center;
    border-bottom: 0px solid rgb(57, 59, 59);
}

.outputselector {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    z-index: 13;
}

.selectortheme {
    position: absolute;
    top: 33px;
    z-index: 55;
}

.styleTheme {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
    margin-right: 14px;
    color: var(--primary-text-color);
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.styleUserInfo {
    list-style: none;
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.styleName {
    margin-right: 8px;
    color: var(--primary-text-color);
    background-color: transparent;
    font-size: 14px;
}

.styleAvatar {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url('./../../../public/android-chrome-192x192.png');
  background-size: cover;
}

.icontheme {
    width: 16px;
    height: 16px;
  }
  