.sidebar,
.sidebar * {
  /* outline: 2px dashed tomato; */
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.2s var(--timing-function);
}

.create-button:hover,
.help-button:hover,
.logout-button:hover {
  opacity: 0.7;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--sidebar-text-color);
  background-color: var(--navigation-bg-color);
  height: 100%;
  padding: 24px 14px;
  font-size: 14px;
  text-align: left;
  letter-spacing: -0.28px;
  box-sizing: border-box;
  overflow-y: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.64px;
}

.logo-icon {
  width: 32px;
  height: 32px;
}

.boards {
  margin-top: 70px;
}

.boards-heading {
  opacity: 0.5;
  font-size: 12px;
  letter-spacing: -0.24px;
}

.create-button {
  width: 100%;
  padding: 14px 0;
  margin-top: 8px;
  border-top: 1px solid var(--navigation-border-color);
  border-bottom: 1px solid var(--navigation-border-color);
}

.create-text {
  width: 76px;
  text-align: left;
}

.create-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 6px;
  background-color: var(--create-btn-bg-color);
}

.create-icon .icon {
  stroke: var(--btn-text-color);
}

.projects {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100px;
  gap: 4px;
  margin: 40px -14px 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar,
.projects::-webkit-scrollbar {
  width: 0px;
}

.projects-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 20px 14px;
  opacity: 0.5;
}

.projects-item.active {
  position: relative;
  background-color: var(--navigation-sec-bg-color);
  opacity: 1;
}

.projects-item.active::after {
  position: absolute;
  content: "";
  right: 0;
  width: 4px;
  height: 100%;
  background-color: var(--navigation-active-marker);
  border-radius: 4px 0px 0px 4px;
}

.projects-icon {
  width: 18px;
  height: 18px;
}

.help {
  padding: 15px;
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: var(--navigation-sec-bg-color);
}

.help-header {
  height: 78px;
  background: url(/src/images/plant.png) no-repeat;
}

.help-text {
  margin-top: 14px;
  line-height: 20px;
  font-size: 12px;
}

.help-text-accent {
  color: var(--accent-color);
}

.help-button {
  gap: 8px;
  margin-top: 18px;
  font-size: 12px;
}

.help-button .icon {
  stroke: currentColor;
}

.logout-button {
  gap: 14px;
}

.logout-button .icon {
  stroke: currentColor;
}

@media screen and (min-width: 768px) {
  .sidebar {
    padding: 24px;
  }

  .boards {
    margin-top: 60px;
  }

  .projects {
    margin-left: -24px;
    margin-right: -24px;
  }

  .projects-item {
    padding: 20px 24px;
  }

  .help {
    padding: 20px;
  }

  .help-text {
    font-size: 14px;
  }
}
