.sidebar,
.sidebar * {
  /* outline: 2px dashed tomato; */
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--sidebar-text-color);
  background-color: var(--navigation-bg-color);
  height: 100%;
  max-width: 260px;
  padding: 24px 14px;
  font-size: 14px;
  text-align: left;
  letter-spacing: -0.28px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.64px;
}

.logo-icon {
  width: 32px;
  height: 32px;
}

.boards {
  margin-top: 70px;
}

.boards-heading {
  opacity: 0.5;
  font-size: 12px;
  letter-spacing: -0.24px;
}

.create-button {
  width: 100%;
  padding: 14px 0;
  margin-top: 8px;
  border-top: 1px solid var(--navigation-border-color);
  border-bottom: 1px solid var(--navigation-border-color);
}

.create-text {
  width: 76px;
  text-align: left;
}

.create-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 6px;
  background-color: var(--create-btn-bg-color);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 300px;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  overflow: hidden scroll;
}

.projects-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  padding: 20px 14px;
  margin: 0 -14px;
  opacity: 0.5;
}

.projects-item.active {
  position: relative;
  background-color: var(--navigation-sec-bg-color);
  opacity: 1;
}

.projects-item.active::after {
  position: absolute;
  content: "";
  right: 0;
  width: 4px;
  height: 100%;
  background-color: var(--navigation-active-marker);
  border-radius: 4px 0px 0px 4px;
}

.projects-icon {
  width: 18px;
  height: 18px;
}

.help {
  padding: 15px;
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: var(--navigation-sec-bg-color);
}

.help-header {
  height: 78px;
}

.help-text {
  margin-top: 14px;
  line-height: 20px;
  font-size: 12px;
}

.help-text-accent {
  color: var(--accent-color);
}

.help-button {
  gap: 8px;
  margin-top: 18px;
  font-size: 12px;
}

.help-icon {
  width: 20px;
  height: 20px;
}

.logout-button {
  gap: 14px;
}

.logout-icon {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .sidebar {
    padding: 24px;
  }

  .boards {
    margin-top: 60px;
  }

  .projects-item {
    padding: 20px 24px;
    margin: 0 -24px;
  }

  .help {
    padding: 20px;
  }

  .help-text {
    font-size: 14px;
  }
}
