.dashboardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0 0 24px;
    flex-shrink: 1;
    box-sizing: border-box;
    max-height: calc(100% - 80px);
}

.dashboardHeader {
    display:flex;
    justify-content: space-between;
    flex-shrink: 1;
}
.dashboardTitle {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.listArea {
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.listArea::-webkit-scrollbar {
    width: 12px;
}
.listArea::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color:var(--taskScrollBase);
}
.listArea::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-clip: content-box;
    background-color:var(--taskScrollHandler);
}

.columnsList{
    display: flex;
    flex-wrap: nowrap;
    gap:34px;
    flex-basis: 334px;
    max-height: 100%;
}