.dashboardContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border:1px solid pink;
}

.dashboardHeader {
    display:flex;
    justify-content: space-between;
}

.listArea {
    overflow-x: auto;
}
.columnsList{
    display: flex;
    //flex-grow: 1;
}

.column{
    display: flex;
    flex-direction: column;
    width: 334px;

}