.dashboardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0px 10px 24px;
    flex-shrink: 1;
    box-sizing: border-box;
    height:100%;
    gap:10px;
}
@media screen and (max-width:480px) {
    .dashboardContainer {
        padding: 24px 10px 10px 10px;
    }
}

.dashboardHeader {
    display:flex;
    justify-content: space-between;
    flex-shrink: 1;
}
.dashboardTitle {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.listArea {
    display:flex;
    gap:38px;
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    flex-grow: 1;
    padding-bottom: 10px;
}

.listArea::-webkit-scrollbar {
    width: 12px;
}
.listArea::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color:var(--taskScrollBase);
}
.listArea::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-clip: content-box;
    background-color:var(--taskScrollHandler);
}

.columnsList{
    display: flex;
    flex-wrap: nowrap;
    gap:34px;
    max-height: 100%;
}
.column {
    flex-basis: 334px;
    flex-shrink: 0;
}
@media screen and (max-width:480px) {
    .column {
        flex-basis: 92%;
    }
}