.dashboardContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0 0 24px;
    
}

.dashboardHeader {
    display:flex;
    justify-content: space-between;
}
.dashboardTitle {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.listArea {
    width: 100%;
    overflow-x: scroll;
    flex-grow: 1;
}
.columnsList{
    display: flex;
    flex-wrap: nowrap;
    gap:34px;
    flex-basis: 334px;
}

/* .column{
    display: flex;
    flex-direction: column;
    width: 334px;

} */