.dashboardContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.dashboardHeader {
    flex-direction: row;
    width: 100%;
}

.columnsList{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.column{
    display: flex;
    flex-direction: column;
    width: 334px;

}