.input{
  display: block;
  box-sizing: border-box;
  min-width: 335px;
  padding:14px 18px;
  background-color: var(--input-backround-color);
  font: "Poppins";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  letter-spacing: -1%;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);
}
@media screen and(min-with:768px){
  .input{
    min-width:400px;
  }
}
  

.label{ 
  position: relative;
  display: block;
  margin-bottom: 14px;

}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 49px;
  outline: none;
  color: var(--btn-text-color);
  border-radius: 8px;
  background: var(--accent-color);
  border: none;
  width: 100%;
  cursor: pointer;
  margin-top: 40px;
  &:hover{
    opacity: 0.7;
  }
}

.comment {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  resize: none;
  font: "Poppins";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  letter-spacing: -2%;
  background-color: var(--input-backround-color);
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  padding:14px 18px;
  box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);
    }
.comment:hover, .input:hover {
  color: var(--primary-text-color);
    
    }
.comment:focus, .input:focus{
  color:var(--primary-text-color);
  
}
.error{
  position: absolute;
  display: flex;
  bottom:100;
  right: 0;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  font: "Poppins";
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  justify-content: flex-end;
  align-items: center;
  line-height: 21px;
  letter-spacing: -1%;
  opacity: 0.9;
  color:#e66666;;
        }
      
      
    
     